<div class="header">
    <button (click)="backToRecordlist()" class="button-default">
      <span>Back to ToDoList</span>
    </button>
  </div>

  <form [formGroup]="form" class="body">
    <div class="item-self">
      <input formControlName="done" type="checkbox">
      <input class="item-desc" formControlName="description">
    </div>
  </form>

  <div class="footer">
    <div class="delete-item">
      <button *ngIf="expenseRecordItem?.id && !isNewItem()" (click)="deleteItem()" class="button-red">Delete Item</button>
    </div>
    <div>
      <span *ngIf="expenseRecordItem.id && !isNewItem()">Created on {{expenseRecordItem.date | date}}</span>
    </div>
    <div class="save-item">
        <button (click)="saveItem()" class="button-blue">Save Item</button>
    </div>
  </div>


