bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/.vs/ExpenseRecord/FileContentIndex/read.lock
/.vs/ExpenseRecord/FileContentIndex/ffa98dbe-2ab8-4d2b-89cf-0905c6a41334.vsidx
/.vs/ExpenseRecord/FileContentIndex/4a2b1d4c-8144-482b-8421-1ceeeaeeec2b.vsidx
/.vs/ExpenseRecord/FileContentIndex/2e26f98f-1d2d-4413-a242-1c95c3e26521.vsidx
